<mat-list *ngIf="project?.sourceFiles?.length; else noFiles">
  <mat-list-item
    *ngFor="let file of project?.sourceFiles"
    (click)="selectFile(file)"
  >
    <div class="row">
      <img matListAvatar class="icon" src="/assets/file.png" alt="File" />
      <h4 matLine>{{ file.name }}</h4>
    </div>
  </mat-list-item>
</mat-list>
<button
  mat-raised-button
  color="primary"
  class="full-width"
  (click)="addFile()"
>
  New file
</button>
<button
  mat-raised-button
  color="secondary"
  class="full-width"
  (click)="shareProject()"
>
  Share project
</button>

<ng-template #noFiles>
  <h4 matLine>No source files</h4>
</ng-template>
