<mat-list *ngIf="project?.sourceFiles?.length; else noFiles">
  <ng-container *ngFor="let file of project?.sourceFiles">
    <mat-list-item
      (click)="selectFile(file)"
      [class.selected-file]="file === selectedFile"
      (contextmenu)="openMenu($event, file, menuTrigger)"
    >
      <div class="row">
        <img matListAvatar class="icon" src="/assets/file.png" alt="File" />
        <h4 matLine>{{ file.fileName }}</h4>
      </div>
      <button
        style="display: none"
        [matMenuTriggerFor]="rightMenu"
        #menuTrigger="matMenuTrigger"
      ></button>

      <mat-menu #rightMenu="matMenu">
        <button mat-menu-item>Edit Name</button>
        <button mat-menu-item (click)="deleteFile(file.id)">Delete File</button>
      </mat-menu>
    </mat-list-item>
  </ng-container>
</mat-list>
<button
  mat-raised-button
  color="primary"
  class="full-width"
  (click)="inputModal.openModal()"
>
  New file
</button>
<button
  mat-raised-button
  color="secondary"
  class="full-width"
  (click)="shareProject()"
>
  Share project
</button>

<app-input-modal>(addFileEvent)="addFile($event)"</app-input-modal>

<ng-template #noFiles>
  <h4 matLine>No source files</h4>
</ng-template>
