<h2 matline>{{ project?.name }}</h2>
<mat-list *ngIf="project?.sourceFiles?.length; else noFiles">
  <ng-container *ngFor="let file of project?.sourceFiles">
    <mat-list-item
      (click)="selectFile(file)"
      [class.selected-file]="file === selectedFile"
      (contextmenu)="openMenu($event, file, menuTrigger)"
    >
      <div class="row">
        <img matListAvatar class="icon" src="/assets/file.png" alt="File" />
        <h4 matLine>{{ file.fileName }}</h4>
      </div>
      <button
        style="display: none"
        [matMenuTriggerFor]="rightMenu"
        #menuTrigger="matMenuTrigger"
      ></button>
      <mat-menu #rightMenu="matMenu">
        <button
          mat-menu-item
          *ngIf="selectedFile"
          (click)="openDialog(myDialog, selectedFile)"
        >
          Edit Name
        </button>
        <button mat-menu-item (click)="deleteFile(file.id)">Delete File</button>
      </mat-menu>
    </mat-list-item>
  </ng-container>
</mat-list>
<button
  mat-raised-button
  color="primary"
  class="full-width"
  (click)="inputModal.openModal()"
>
  New file
</button>
<button
  mat-raised-button
  color="secondary"
  class="full-width"
  (click)="shareProject()"
>
  Share project
</button>

<app-input-modal (fileAdded)="getProject()"></app-input-modal>

<ng-template #noFiles>
  <h4 matLine>No source files</h4>
</ng-template>

<ng-template #myDialog>
  <h2 matDialogTitle>Edit Name</h2>
  <mat-dialog-content>
    <p>Please enter the new name of your file below</p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="fileName" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="fileName" cdkFocusInitial>
      Save
    </button>
    <button mat-button (click)="closeDialog()" color="primary">Cancel</button>
  </mat-dialog-actions>
</ng-template>
