.project-management-container {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
}

mat-cell {
  padding: 5px;
}

mat-table {
  margin: 15px 0px 1px 0px;
  min-width: 900px;}
