<div class="project-management-container">
  <h1>Project Management</h1>
  <button mat-raised-button color="primary" (click)="addProject()">
    Add Project
  </button>

  <mat-table [dataSource]="projects" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let project"> {{ project.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let project">
        <div *ngIf="project.editing">
          <mat-form-field>
            <input
              matInput
              [(ngModel)]="newName"
              (blur)="updateProject(project, newName)"
            />
          </mat-form-field>
        </div>
        <div
          *ngIf="!project.editing"
          (click)="project.editing = true; newName = project.name"
        >
          {{ project.name }}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="users">
      <mat-header-cell *matHeaderCellDef> Users </mat-header-cell>
      <mat-cell *matCellDef="let project">2</mat-cell>
    </ng-container>

    <ng-container matColumnDef="files">
      <mat-header-cell *matHeaderCellDef> Files </mat-header-cell>
      <mat-cell *matCellDef="let project">{{
        project.sourceFiles.length
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let project">
        <a
          mat-button
          [routerLink]="['/projects', project.id]"
          routerLinkActive="active"
          >Open</a
        >
        <button mat-button color="warn" (click)="deleteProject(project.id)">
          Delete
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>
