<button
  mat-raised-button
  color="primary"
  class="full-width"
  (click)="compile()"
  ng-disabled="!file"
  [disabled]="!file"
>
  Compile
</button>
<button
  mat-raised-button
  color="secondary"
  class="full-width"
  ng-disabled="!file"
  [disabled]="!file"
  style="margin-left: 20px"
  (click)="saveCode()"
>
  Save
</button>
<ngx-monaco-editor
  *ngIf="file"
  [options]="editorOptions"
  [model]="{ value: file.code, language: editorOptions.language }"
  (onInit)="onInitEditor($event)"
></ngx-monaco-editor>
<h4>Output</h4>
<p class="output" *ngIf="compilationResult?.stdout">
  {{ compilationResult?.stdout }}
</p>
<p class="output" *ngIf="compilationResult?.stderr">
  {{ compilationResult?.stderr }}
</p>
<p class="output" *ngIf="!!compilationResult?.compilable">
  Successfully compiled...
</p>
